<h1>Genres</h1>
<a href="/genres/form">Create a new genre</a>

<ul>
    {{#each genres}}
    <li>
        <a href="/genres/form?id={{this.id}}">{{this.id}}: {{this.name}}</a>
    </li>
    {{/each}}
</ul>