<form action="/books/create" role="form" method="post">
  <div>
    <label for="title">book title</label>
    <input type="text" id="title" name="title">
  </div>
  <div>
    <label for="year">publishingYear</label>
    <input type="number" id="year" name="publishingYear">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
