<form action="/comments/upsert" role="form" method="post">
{{#if comment}}
  <input type="hidden" name="_csrf" value="{{_csrfToken}}">

  <div>
    <h2>{{comment.commentId}} {{comment.name}}</h2>
    <input type="hidden" name="id" value="{{commentIndex}}">
  </div>
  {{/if}}

  <div>
    <label for="name">Comment</label>
    <input type="text" id="name" name="name" required>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>