<form action="/comments/upsert" role="form" method="post">
    <input type="hidden" name="_csrf" value="{{_csrfToken}}">
    <input type="hidden" name="bookId" value="{{comment.bookId}}">
    <input type="hidden" name="userEmail" value="{{comment.userEmail}}">
    <div>
      <label for="comment">Comment</label>
      <textarea id="comment" name="text" required>{{comment.text}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>