<h1>Comments</h1>
<a href="/comments/form">Create a new comment</a>

<ul>
    {{#each comments}}
    <li>
        <a href="/comments/show/{{this.commentId}}">{{this.commentId}} - {{this.name}}</a>
    </li>
    {{/each}}
</ul>
