<h1>Comments</h1>
{{#if comments}}
    <ul>
        {{#each comments}}
            <li>
                <p>User: {{this.userEmail}}</p>
                <p>{{this.text}}</p>
            </li>
        {{/each}}
    </ul>
{{else}}
    <p>No comments available.</p>
{{/if}}
